<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%c.%M:%L] %msg%n</pattern>
		</encoder>
	</appender>

    <appender name="md-ioc-core" class="ch.qos.logback.core.FileAppender">
        <file>target/logs/md-ioc-core.log</file>
        <append>true</append>
        <encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%c.%M:%L] %msg%n</pattern>
        </encoder>
    </appender>
    
	<logger name="com.github.matschieu.ioc.core" level="DEBUG" additivity="false">
		<appender-ref ref="md-ioc-core" />
		<appender-ref ref="STDOUT" />
	</logger> 

	<root level="ERROR">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
